@import './variables';



main{
    width: 1476.59px;
    height: 903.5px;
    border-radius: $border-rds;
    background-color: white;
    box-shadow: $Shadow 0px 7px 29px 0px;
    display: flex;
    
}


