@import './variables';




.nav{
    border-right: 2px $Shadow solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 60px 20px 60px; 
    

    .slogan{
        display: flex;
        align-items: center;
        gap: 10px;
        .logo{
            position: relative;
            img{
                //filter: invert(37%) sepia(33%) saturate(3060%) hue-rotate(180deg) brightness(89%) contrast(81%);
                width: 50px;
                
            }
            &::after{
                content: '';
                position: absolute;
                background-image: url(../static/coin.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 1.5rem;
                height: 1.5rem;
                top: 0;
                right: 0;
            }
        }

        .brand-name{
            font-weight: bold;
            color: $logo;
            font-size: 1.1rem;
        }
    }

    .links{
        margin-top: 50px;
        a{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin-block: 10px;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            text-decoration: none;
            width: 150px;
            height: 50px;
            color: $no-click;
            border-radius: 10px;
            transition: .5s;
            
            i{
                margin-left: 25px;
            }

            &:hover{
                box-shadow: $shade;
                background-color: $click;
                color: $word;
            }
            

        }
    }

    .bottom-cta{
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .cloud-img{
            img{
                width: 80px;
                //filter: invert(37%) sepia(98%) saturate(582%) hue-rotate(165deg) brightness(90%) contrast(91%);
               
            }
            
        }

        p{
            text-align: center;
            width: 160px;
            font-size: .8rem;
            color: $brownish;

            
        }


        .cta-btn{
            margin-top: 10px;
            background-color: $orange;
            padding: 15px;
            border-radius: 15px;
            color: $brownish;
            transition: .5s;
            font-weight: bold;
            font-size: .7rem;
            &:hover{
                box-shadow: $shade;
                cursor: pointer;
                background-color: darken($orange,10%);
            }
        }
    }

}